#inject-tips {
    background: #eeeeee;
    color: #dd4814;
    padding: 20px;
    margin: 0 auto;
    position: fixed;
    text-align: center;
    top:10px;
    left: 0;
    right:0;
    width: fit-content;
    z-index: 500;
}
#got-it-button{
    float: right;
    color: #dd4814;
}
