body {
    font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
    font-size: 100%;
    width: 100%;
    height: 100%;
}

#shortcut-list ul li {
    /*background-color:rgb(155, 158, 155);
    color: white;*/
    font-size: 18px;
}

#shortcut-key {
    font-size: 30px;
    color: #DD4814;
    padding: 10px;
}

#clear {
    font-size: 16px;
    color: white;
    width: 80px;
    background: rgb(254, 78, 32);
    text-align: center;
    padding: 8px;
    border-radius: 5px;
    float: right;
}

div#origin {
    margin-left: 10%;
}

ul#left-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 10%;
    position: fixed;
    background-color: #F1F1F1;
    overflow: auto;
}

li.nav-item {
    padding: 10px 20px 10px 20px;
    text-align: center;
    display: block;
}

li > a {
    text-decoration: none;
}

li > a:visited {
    color: inherit;
}

li > a:hover {
    color: white;
    text-decoration: none;
}

li.active {
    background-color: #47B04B;
    color: white;
}

li.nav-item:hover {
    background-color: #47B04B;
    color: white;
}