body {
    font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
    font-size: 100%;
    width: 100%;
}
div {
    display: block;
}
ul {
    display: inline-block;;
    column-count: 2;
    column-gap: 10px;
    column-width: auto;
}
#shortcut-list ul li {
    /*background-color:rgb(155, 158, 155);
    color: white;*/
    font-size: 18px;
}
#shortcut-key {
    font-size: 30px;
    color: #DD4814;
    padding: 10px;
}
#clear {
    font-size: 16px;
    color: white;
    width: 80px;
    background: rgb(254, 78, 32);
    text-align: center;
    padding: 8px;
    border-radius: 5px;
    float: right;
}
