<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Options</title>
    <script src="dist/index.js"></script>
    <script src="dist/content_script.js"></script>
</head>
<body>
<div id="vue">
    <div>{{preference}}</div>

    <div>A chrome extension which help you bind a shortcut for any url!</div>
    How to open primary shortcut:
    <form>
        <input type="radio" id="p_blank" v-model='preference.primary_blank' value="true"><label for="p_blank">Open in new
        tab</label>
        <br>
        <input type="radio" id="p_self" v-model="preference.primary_blank" value="false"><label for="p_self">Open in same
        tab</label>
    </form>
    <br>

    How to open secondary shortcut:
    <form>
        <input type="radio" id="s_blank" v-model="preference.secondary_blank" value="true"><label for="s_blank">Open in new
        tab</label>
        <br>
        <input type="radio" id="s_self" v-model="preference.secondary_blank" value="false"><label for="s_self">Open in same
        tab</label>
    </form>
    <br>

    How to quick open secondary shortcut:
    <form>
        <input type="radio" id="qs_blank" v-model="preference.quick_secondary_blank" value="true"><label for="qs_blank">Open in new
        tab</label>
        <br>
        <input type="radio" id="qs_self" v-model="preference.quick_secondary_blank" value="false"><label for="qs_self">Open in same
        tab</label>
    </form>
</div>
<br>

</body>
</html>