<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="./build/popup.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/pure-min.css"
          integrity="sha384-UQiGfs9ICog+LwheBSRCt1o5cbyKIHbwjWscjemyBMT9YCUMZffs6UqUTd0hObXD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">

    <link rel="stylesheet" href="css/popup.css">
</head>
<body>
<div id="vue">

    <header>
        <div class="pure-g">
            <div class="pure-u-1-3">
                <a href="https://anyshortcut.com" target="_blank"><img src="images/icon.png" alt="">
                    <span style="font-weight: bold">anyshortcut</span></a>
            </div>
            <div class="pure-u-1-3">
            </div>
            <div class="pure-u-1-3">
                <a href="index.html" target="_blank"><i class="fa fa-cog"></i> settings</a>
            </div>
        </div>
    </header>

    <div v-if="authenticated">
        <div id="bound_tips">{{boundTips}}</div>
        <div id="unbind_div" v-if="shortcut">
            <div id="unbind_guide" v-if="shortcut.primary">
                <span>
                    <strong>ALT</strong>
                </span>
                <span>+</span>
                <span>
                    <strong>SHIFT</strong>
                </span>
                <span>+</span>
                <span>
                    <strong id="bound_shortcut_key">{{shortcut.key}}</strong>
                </span>
            </div>
            <div v-else>
                <p>The url already bound with <b>ALT+{{shortcut.key}}</b></p>
            </div>
            <p id="bound_time">{{shortcut.created_time | fromNow}}</p>
            <button @click="handleShortcutUnbinding" id="unbind_shortcut_button">Delete Shortcut</button>
        </div>
        <div id="bind_div" v-else>

            <p v-if="primary">
                Specify the shortcut:
            </p>
            <p v-else="">
                Specify the secondary shortcut for this domain:
            </p>
            <br>
            <br>
            <keyboard :bound-keys="boundKeys"
                      @key-hover-over="onKeyHoverOver"
                      @key-hover-leave="onHoverLeave">
            </keyboard>
            <div id="popover"
                 v-show="showPopper"
                 @mouseover="onHoverOver"
                 @mouseleave="onHoverLeave">
                <div v-if="hoveredShortcut && !forceBinding">
                    <p>{{key}}</p>
                    <p>{{hoveredShortcut.comment || hoveredShortcut.title}}</p>
                    <button @click="forceBinding = true">Still bind the shortcut?</button>
                </div>
                <div v-else>
                    Bind shortcut key!
                    <p>{{key}}</p>
                    <input v-model="comment" placeholder="Comment for this url" required/>
                    <br>
                    <input @click="handleShortcutBinding" id="bind_shortcut_button" type="button" value="Save"/>
                </div>
            </div>
        </div>
        <br>

        <ul v-show="shortcuts && !primary">
            <p>Here is secondary shortcut list for this domain:</p>
            <li v-for="(shortcut,key) in shortcuts">
                <span><b>{{key}}</b></span>
                <span>    <a :href="shortcut.url" target="_blank">{{shortcut.comment || shortcut.title}}</a></span>
            </li>
        </ul>
    </div>
    <div v-else class="is-center">
        <img src="images/btn_google_signin.png" alt="Google Sign In" @click="loginWithGoogle">
    </div>
</div>
</body>
</html>