<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/pure-min.css"
          integrity="sha384-UQiGfs9ICog+LwheBSRCt1o5cbyKIHbwjWscjemyBMT9YCUMZffs6UqUTd0hObXD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">

    <link rel="stylesheet" href="dist/css/popup.css">
</head>
<body>
<div id="vue">
    <template v-if="authenticated">
        <main-view v-if="currentView=='main'"></main-view>
        <preference-view v-else="currentView=='setting'"></preference-view>
    </template>
    <welcome-view v-else></welcome-view>
</div>
<script src="dist/popup.js"></script>
</body>
</html>