<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <link rel="stylesheet" href="dist/css/tour.css">
    <link rel="stylesheet" href="vendor/balloon.min.css">
</head>
<body>

<div id="app">
    <div class="tour-illustration">
        <img v-if="currentStep===1"
             class="step-cover half-width"
             src="dist/img/computer-and-balloons.svg" alt="">
        <img v-else-if="currentStep===2"
             class="step-cover full-width"
             src="dist/img/2.svg" alt="">
        <img v-else-if="currentStep===3"
             class="step-cover full-width"
             src="dist/img/3.svg" alt="">
        <img v-else-if="currentStep===4"
             class="step-cover half-width"
             src="dist/img/4.svg" alt="">
    </div>

    <section v-if="currentStep===1">
        <div class="title">
            Welcome join Anyshortcut!
        </div>

        <p>
            Sign in with google to create an account so we can safely store your shortcuts and sync everywhere.
        </p>

        <div class="btn-google-sign-in"
             @click="openAuthPopupWindow">
            Sign in with Google
        </div>

        <small>By signing up, I agree to <a target="_blank" href="https://anyshortcut.com/terms">Terms of Service</a>
            and <a target="_blank" href="https://anyshortcut.com/privacy">Privacy Policy</a>.
        </small>
    </section>
    <template v-else>
        <section v-if="currentStep===2">
            <div class="title">Set a primary shortcut</div>
            <p>
                Assuming you have opened Google, you can hover the mouse on keyboard
                <span class="tour-shortcut">G</span> in extension popup, input
                "Google" as a comment for the shortcut, then click <b>Bind</b> button.
            </p>

            <p>
                You can set any alphanumeric key as a primary shortcut link to any website.
                For example <span class="tour-shortcut">F</span> for Facebook, <span class="tour-shortcut">Y</span> for
                Youtube, <span class="tour-shortcut">N</span> for Netflix, etc.
            </p>

            <p class="subtitle">
                Now you can use <span class="tour-shortcut">ALT + G</span> to open Google instantly.
                <span data-balloon="ALT is the combination key for all shortcut"
                      data-balloon-pos="up">
                    <img src="dist/img/info-grey.svg" alt="info">
                </span>
            </p>
            <!--<div>(You'll forward to next step automatically after you trigger the shortcut)</div>-->

            <div>
                <div class="line-divider">or</div>
                <div class="tour-button" @click="currentStep=3">Skip to next step directly ></div>
            </div>
        </section>


        <section v-else-if="currentStep===3">
            <div class="title">Let's active a secondary shortcut</div>
            <p>
                For instance, you can set the secondary shortcut
                <span class="tour-shortcut">I</span> for Google Inbox just like the step ahead.
                Here are other good examples: <span class="tour-shortcut">D</span> for Google Driver,
                <span class="tour-shortcut">P</span> for Google Photos,
                <span class="tour-shortcut">T</span> for Google Translate, etc.
            </p>

            <p class="subtitle">
                Now you can use <span class="tour-shortcut">ALT + G + I</span> to open Google Inbox instantly.
                <span data-balloon="ALT is the combination key, 'G' stands for primary shortcut 'G' which linked to Google."
                      data-balloon-pos="up">
                    <img src="dist/img/info-grey.svg" alt="info">
                </span>
            </p>

            <div>
                <div class="line-divider">or</div>
                <div class="tour-button" @click="currentStep=4">Skip to next step directly ></div>
            </div>

        </section>

        <section v-else-if="currentStep===4">
            <div class="title">Congratulations!</div>
            <p>
                Here are some most frequently visited websites in the world which are worth linking with the
                shortcut!
            </p>
            <ul :class="{disable:done}" class="default-shortcut-list">
                <li v-for="shortcut in defaultShortcuts">
                    <div class="default-shortcut-list-item">
                        <div style="max-width: 40%;min-width: 40%;">
                            <div style="display: flex;align-items: center;">
                                <img class="default-shortcut-favicon" :src="shortcut.favicon" alt="">
                                <span class="default-shortcut-name">{{ shortcut.comment }}</span>
                            </div>

                            <div class="default-shortcut-url">
                                {{ shortcut.url }}
                            </div>
                        </div>
                        link to
                        <div class="default-shortcut-key">
                            ALT + {{ shortcut.key }}
                        </div>
                        <input type="checkbox" v-model="shortcut.active">
                    </div>
                </li>
            </ul>

            <p v-if="done" style="margin: 30px 0;">
                You were linked those websites! We believe Anyshortcut can boost your productivity, and you will
                enjoy
                it!
            </p>
            <div class="tour-button" style="margin: 30px 0;"
                 @click="bindDefaultShortcuts" v-else>
                Link these shortcuts!
            </div>
        </section>
    </template>
    <ul class="step-indicator">
        <li v-for="step in 4">
            <div class="step-indicator-item"
                 :class="{'step-indicator-current':currentStep===step}"
                 @click="onStepItemClick(step)">
            </div>
        </li>
    </ul>
</div>
</body>
<script src="dist/tour.js"></script>
</html>