<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <link rel="stylesheet" href="dist/css/tour.css">
</head>
<body>

<div id="app">
    <img v-if="currentStep==1"
         class="step-cover"
         src="dist/img/computer-and-balloons.svg" alt="">

    <ul class="step-indicator">
        <li v-for="index in 4">
            <div class="step-indicator-item"
                 :class="{'step-indicator-passed':currentStep>index,'step-indicator-current':currentStep===index}">
            </div>
        </li>
    </ul>
    <section v-if="currentStep==1">
        <h2 class="title">
            Welcome join Anyshortcut!
        </h2>

        <p>
            Sign in with google to create an account so we can safely store your shortcuts and sync everywhere.
        </p>

        <div href="/oauth/google"
             alt="Sign in with Google"
             class="btn-google-sign-in"
             @click="openAuthPopupWindow">
            Sign in with Google
        </div>
    </section>
    <template v-else>
        <section v-if="currentStep==2">
            <h3>Bind primary shortcut for Google.</h3>
            <div>
                Assume you have opened google, then you can hover mouse on keyboard G in extension popup, input 'Google'
                as
                comment for
                the shortcut, click Bind button.
                All done.
            </div>

            <div>
                Now you can use SHIFT+ALT+G open google.com in instantly. It is so easy, isn't it?
            </div>
        </section>


        <section v-else-if="currentStep==3">
            <h3>Let's bind a secondary shortcut for Google Inbox.</h3>

            <div>Just like the step above. You can bind the secondary shortcut I for Google Inbox.</div>

            <div>There are two way to open Google Inbox you just bound</div>

            <div>* Click ALT+I in any google.com page.</div>
            <div>* Click SHIFT+ALT+G+I in any website page.</div>

            Now you can try use SHIFT+ALT+G+I to open inbox.google.com instantly. :)

        </section>

        <section v-else-if="currentStep==4">
            <h3>Congratulation! You are almost done!</h3>
        </section>
    </template>

</div>
</body>
<script src="dist/tour.js"></script>
</html>