.DS_Store
.idea
raw
extension/manifest.json
node_modules
dist
target
*.crx
*.pem
*.zip
npm-debug.log

# Ignore the website/static but keep the inside img directory
!website/static
website/public
website/static/*
!website/static/img/