<!doctype html>
<html>

<head>
    <script src="external/moment.min.js"></script>
    <script src="external/vue.js"></script>
    <script src="external/jquery-2.1.4.js"></script>
    <script src="js/keycode.js"></script>
    <script src="js/common.js"></script>
    <script src="js/popup.js"></script>
    <link rel="stylesheet" href="css/popup.css">
</head>

<body>
<h5>You can launch website quickly by keyboard shortcuts</h5>
<!-- <pre>{{$data | json}}</pre> -->

<div v-if="option.support">
    <p>Enable option access on this domain:
                <span>
                    <b>{{option.domain}}</b>
                </span>
        <input type="checkbox" v-model="option.items"/>
    </p>
    <div v-show="!bound">
        <div v-show="option.bound">
            <p>The domain <b>{{option.domain}}</b> already bound with <b>ALT+{{key}}</b></p>
        </div>
        <div v-else>
            <input v-model="key | uppercaseIt" id="option-shortcut-key" placeholder="key" maxlength="1" required/>
            <button @click="handleOptionShortcutBinding">Bound</button>
        </div>
    </div>
    <ul v-show="option.items">
        <p>Here is option access bound list for this domain:</p>
        <li v-for="item in option.items">
            <span><b>{{$key}}</b></span>
            <span>    <a href="{{item.url}}">{{item.url}}</a></span>
        </li>
    </ul>
</div>
<div v-else>
    <p>This domain
        <b>{{option.domain}}</b>
        not support option access.:(</p>
</div>
<div v-show="!option.bound">
    <div id="bound_tips">{{boundTips}}</div>

    <div id="unbind_div" v-show="bound">
        <div id="unbind_guide">
                <span>
                    <strong>ALT</strong>
                </span>
            <span>+</span>
                <span>
                    <strong>SHIFT</strong>
                </span>
            <span>+</span>
                <span>
                    <strong id="bound_shortcut_key">{{key}}</strong>
                </span>
            <p id="bound_time">{{value.time | fromNow}}</p>
            <button @click="handleShortcutUnbinding" id="unbind_shortcut_button">Delete Shortcut</button>
        </div>
    </div>
    <div id="bind_div" v-else>
        <div id="bind_guide">
            <p>
                Specify the shortcut:
            </p>
                <span>
                    <strong>ALT</strong>
                </span>
            <span>+</span>
                <span>
                    <strong>SHIFT</strong>
                </span>
            <span>+</span>
                <span>
                    <input v-model="key | uppercaseIt" @input="onShortcutKeyInput" id="shortcut_key" placeholder="key"
                           maxlength="1" required/>
                </span>
            <br/>
            <div id="status">
                {{keyTips}}
            </div>
            <input @click="handleShortcutBinding" id="bind_shortcut_button" type="button" value="Save"/>
        </div>
    </div>
</div>

</body>

</html>
