<p>Good job, the secondary shortcut bind success!</p>
<div class="anyshortcut-text-description">
    <p>There are two way to open the website page</p>
    <ul>
        <li>
            Click <span class="anyshortcut-shortcut">ALT+<%- primaryShortcut.key %> + <%- key %></span> in any website
            page.
        </li>
        <li>
            Click <span class="anyshortcut-shortcut">SHIFT + ALT + <%- key %></span> in any
            <b><%- primaryShortcut.domain %></b> page.
        </li>
    </ul>
</div>