<ul>
    <% _.forOwn(data.shortcuts, function(shortcut) { %>
    <li class="anyshortcut-shortcut-item">
        <a href="<%- shortcut.url %>">
            <span class="anyshortcut-secondary-shortcut" title="<%- shortcut.title %>"><%- shortcut.key %></span>
            <div>
                <div>
                    <img class="anyshortcut-favicon" src="<%- shortcut.favicon %>" alt="">
                    <span class="anyshortcut-comment"><%- shortcut.comment %></span>
                </div>

                <div class="anyshortcut-url">
                    <%- shortcut.url %>
                </div>
            </div>
        </a>
    </li>
    <% }); %>
</ul>
<small class="anyshortcut-small-description">Click specific key to open the website page</small>