<div>
    Secondary shortcuts for <span class="anyshortcut-shortcut">ALT + <%- key %></span>
    <ul class="anyshortcut-shortcut-list">
        <% _.forOwn(shortcuts, function(shortcut) { %>
        <li class="anyshortcut-shortcut-item">
            <span class="anyshortcut-secondary-shortcut" title="<%- shortcut.title %>"><%- shortcut.key %></span>
            <a href="<%- shortcut.url %>" title="<%- shortcut.url %>" target="_blank"><%- shortcut.comment %></a>
        </li>
        <% }); %>
    </ul>
</div>
<small class="anyshortcut-small-description">Click specific key to open the website page</small>