@import "_var.less";

// Keep _common code as less as possible.

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  src: url("chrome-extension://__MSG_@@extension_id__/fonts/Poppins-Light.ttf");
}

@font-face {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 300;
  src: url("chrome-extension://__MSG_@@extension_id__/fonts/Poppins-Light.ttf");
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("chrome-extension://__MSG_@@extension_id__/fonts/Poppins-Regular.ttf");
}

@font-face {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 400;
  src: url("chrome-extension://__MSG_@@extension_id__/fonts/Poppins-Regular.ttf");
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  src: url("chrome-extension://__MSG_@@extension_id__/fonts/Poppins-Medium.ttf");
}

@font-face {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 500;
  src: url("chrome-extension://__MSG_@@extension_id__/fonts/Poppins-Medium.ttf");
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: url("chrome-extension://__MSG_@@extension_id__/fonts/Poppins-SemiBold.ttf");
}

@font-face {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 600;
  src: url("chrome-extension://__MSG_@@extension_id__/fonts/Poppins-SemiBold.ttf");
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: url("chrome-extension://__MSG_@@extension_id__/fonts/Poppins-Bold.ttf");
}

@font-face {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 700;
  src: url("chrome-extension://__MSG_@@extension_id__/fonts/Poppins-Bold.ttf");
}

.brand {
  color: @primary-color;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-weight: 600;
  text-decoration: none;
  outline: none;
  letter-spacing: .03em;

  .brand-logo {
    vertical-align: middle;
    margin: 6px 10px;
    content: url("chrome-extension://__MSG_@@extension_id__/icon/icon19.svg");
  }
}

.shortcut {
  color: @primary-color;
  background-color: white;
  padding: 0 10px;
  margin: 0 5px;
  border-radius: 3px;
  font-size: 14px;
  text-align: center;
  box-shadow: @box-shadow-base;
  white-space: nowrap;
}

.shortcut-domain {
  font-weight: 500;
  letter-spacing: 0.6px;
}

.shortcut-favicon {
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

.close-button() {
  color: #CECECE;
  padding: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

.grey-balloons {
  content: url("chrome-extension://__MSG_@@extension_id__/dist/img/grey-balloons.svg");
  margin-top: 20px;
  margin-bottom: 10px;
}

.overflow-ellipsis() {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}