@primary-color: #4F6EC8;
@header-bgcolor: #FAFBFC;
@content-bgcolor: #FFFFFF;

@menu-color: #526d85;

@color-success: #13ce66;
@color-warning: #f7ba2a;
@color-danger: #ff4949;
@color-info: #50bfff;

@font-size-base: 14px;

@normal-width: 600px;
@normal-height: 420px;

/* Box-shadow
 -------------------------- */
@box-shadow-base: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04);
@box-shadow-dark: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .12);

/* Message
-------------------------- */
@message-shadow: @box-shadow-base;
@message-min-width: 300px;
@message-padding: 10px 12px;
@message-content-color: black;
@message-close-color: silver;
@message-close-hover-color: #abcdef;

@message-success-color: @color-success;
@message-info-color: @color-info;
@message-warning-color: @color-warning;
@message-danger-color: @color-danger;

.shortcut-mixin() {
  font-family: 'Menlo', monospace;
  color: #c0341d;
  background-color: #fcefed;
  border-color: grey;
  padding: 4px 14px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 3px;
}

.header() {
  background: @header-bgcolor;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 5px 10px;
  border-bottom: #eeeeee solid 1.3px;
}