@import "_common.less";

@modal-z-index: 999999999;

.anyshortcut-modal {
  display: flex;
  justify-content: center;
  align-items: start;
  position: fixed;
  margin: 0 auto;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: (@modal-z-index - 1);

  ul {
    list-style: none outside;
  }
}

.anyshortcut-modal-container {
  width: 480px;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  color: #515151;
  margin-top: 80px;
  background: white;
  border-radius: 5px;
  z-index: @modal-z-index;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, .12), 0 4px 6px rgba(0, 0, 0, .12);
}

.anyshortcut-modal-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  border-radius: 5px 5px 0 0;
}

.anyshortcut-modal-close {
  .close-button;
}

.anyshortcut-modal-content {
  padding: 10px 20px 20px;
  font-size: 18px;
  text-align: center;
}

.anyshortcut-shortcut {
  color: #333333;
  background-color: white;
  padding: 0 10px;
  margin: 0 5px;
  border-radius: 3px;
  font-size: 16px;
  text-align: center;
  box-shadow: @box-shadow-base;
}

.anyshortcut-secondary-shortcut {
  .anyshortcut-shortcut;
  width: 38px;
  height: 28px;
  letter-spacing: 0.6px;
  //display: inline-block;
}

.anyshortcut-shortcut-item {
  display: flex;
  align-items: center;
  border-color: #f4f4f4;
  border-width: 0;
  border-bottom-width: 1px;
  border-style: solid;
  padding: 3px 10px;
  font-size: 15px;

  &:hover {
    background: #f8f8f8;
  }

  &:last-child {
    border-width: 0;
  }

  a {
    .overflow-ellipsis;
    position: relative;
    text-align: left;
    text-decoration: none;
    outline: none;

    &:focus, &:active, &:visited, &:hover {
      color: @secondary-color;
    }
  }
}

.anyshortcut-text-description {
  color: #8E8E8E;
  font-size: 14px;
}