@import "_var.less";
@import "_common.less";

@modal-z-index: 999999999;

.anyshortcut-modal {
  display: flex;
  justify-content: center;
  align-items: start;
  position: fixed;
  margin: 0 auto;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: (@modal-z-index - 1);

  ul {
    list-style: none outside;
  }
}

.anyshortcut-modal-container {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  color: grey;
  margin-top: 80px;
  background: white;
  border-radius: 5px;
  min-width: 420px;
  z-index: @modal-z-index;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 4px 6px rgba(0, 0, 0, .12);
}

.anyshortcut-modal-header {
  .header;
  border-radius: 5px 5px 0 0;
}

.anyshortcut-modal-close {
  .close-button;
  float: right;
}

.anyshortcut-modal-content {
  padding: 20px;
  font-size: 18px;
  text-align: center;
}

.anyshortcut-shortcut {
  .shortcut;
  font-size: 18px;
}

.anyshortcut-secondary-shortcut {
  .anyshortcut-shortcut;
  width: 38px;
  height: 28px;
  letter-spacing: 0.6px;
  //display: inline-block;
}

.anyshortcut-shortcut-item {
  display: flex;
  align-items: center;
  border-color: #f4f4f4;
  border-width: 0;
  border-bottom-width: 1px;
  border-style: solid;
  padding: 3px 8px;
  font-size: 15px;

  &:hover {
    background: #f8f8f8;
  }

  &:last-child {
    border-width: 0;
  }

  a {
    .overflow-ellipsis;
    position: relative;
    width: 100%;
    text-align: left;
    text-decoration: none;
    outline: none;
  }
}