@import "_common.less";

@modal-z-index: 999999999;

.anyshortcut-modal {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: start;
  position: fixed;
  margin: 0 auto;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: (@modal-z-index - 1);

  ul {
    list-style: none outside;
    margin: auto;
    padding: 0;
  }
}

.anyshortcut-modal-container {
  width: 480px;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  color: #515151;
  margin-top: 80px;
  background: white;
  border-radius: 5px;
  z-index: @modal-z-index;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, .12), 0 4px 6px rgba(0, 0, 0, .12);
}

.anyshortcut-modal-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  border-radius: 5px 5px 0 0;
}

.anyshortcut-modal-close {
  .close-button;
}

.anyshortcut-modal-content {
  padding: 10px 20px 20px;
  font-size: 18px;
  text-align: center;
}

.anyshortcut-favicon {
  .shortcut-favicon;
  margin: 0 5px;
}

.anyshortcut-shortcut {
  .shortcut;
  font-size: 15px;
}

.anyshortcut-secondary-shortcut {
  .anyshortcut-shortcut;
  margin-right: 15px;
  width: 32px;
  letter-spacing: 0.6px;
}

.anyshortcut-shortcut-list {
  padding: 5px 40px !important;
}

.anyshortcut-shortcut-item {
  display: flex;
  align-items: center;
  border-color: #f4f4f4;
  border-width: 0;
  border-bottom-width: 1px;
  border-style: solid;
  font-size: 14px;
  padding: 8px 10px;

  &:hover {
    background: #f8f8f8;
  }

  &:last-child {
    border-width: 0;
  }

  a {
    .overflow-ellipsis;
    display: flex;
    align-items: center;

    position: relative;
    text-align: left;
    width: 100%;
    margin: 0;
    text-decoration: none !important;
    outline: none;
    color: @secondary-color;

    &:focus, &:active, &:visited, &:hover {
      color: @secondary-color;
    }
  }
}

.anyshortcut-text-description {
  color: #8E8E8E;
  font-size: 14px;

  ul li {
    margin: 5px 0;
  }
}

.anyshortcut-small-description {
  color: #8E8E8E;
  margin: auto;
  font-size: 12px;
}

.anyshortcut-subscribe-button {
  .positive-gradient;
  color: #FFFFFF;
  font-size: 16px;
  border-radius: 3px;
  padding: 5px 20px;
  text-decoration: none;

  &:focus, &:active, &:visited, &:hover {
    color: #FFFFFF;
  }
}

.anyshortcut-circle {
  position: fixed;
  left: 15px;
  bottom: 15px;
  width: 40px;
  height: 40px;
  background-color: @primary-color;
  box-shadow: @box-shadow-dark;
  border-radius: 50% 50%;
  cursor: pointer;
  z-index: (@modal-z-index - 1);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.3;

  .anyshortcut-circle-icon {
    width: 30px;
    height: 30px;
    content: url("chrome-extension://__MSG_@@extension_id__/icon/icon32.png");
  }
  .anyshortcut-circle-close {
    width: 15px;
    height: 15px;
    content: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAcBAMAAACAI8KnAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAIVBMVEUAAAD///////////////////////////////////8AAADPn83rAAAACXRSTlMACq47u/I8r7wWzHxoAAAAAWJLR0QAiAUdSAAAAAlwSFlzAAALEgAACxIB0t1+/AAAAJJJREFUGNNdzzEKhDAQBdAvwtYWW9hbbSdCDrBnWBDS2Sx7A8HSKwgic1tNxj/jmirDC5P/UTSw01V4ri2nMr7xkg/HIAu+Qi6j9HhEcpB1gHFGGCuSTyQTlQ2Vg3ic4x49TVpzwcQXvI+3x/+r0p9eLAfyYhrIWNOSmfZkVlH2Kpm9Z+bJeh68oSYmnlGMnv1X7RZ2SET5id+LAAAAAElFTkSuQmCC");
  }

  &:hover {
    opacity: 1;
  }
}

.anyshortcut-popup {
  box-sizing: border-box;
  position: fixed;
  left: 15px;
  bottom: 65px;
  width: 350px;
  display: flex;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  padding: 10px;
  background-color: #FFFFFF;
  box-shadow: @box-shadow-dark;
  border-radius: 5px;
  text-align: center;
  z-index: (@modal-z-index - 1);

  ul {
    list-style: none outside;
    margin: 0;
    padding: 0;
  }
}

.anyshortcut-comment {
  font-size: 15px !important;
  color: #515151 !important;
}

.anyshortcut-url {
  padding: 5px !important;
  font-family: "Roboto", sans-serif !important;
  font-size: 12px !important;
  color: #bbbbbb !important;
}