@import "_common.less";

* {
  box-sizing: border-box;
}

p {
  margin: 0 auto;
}

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: underline;
  outline: none;

  &:focus, &:active, &:visited, &:hover {
    color: #8E8E8E;
  }
}

div#app {
  margin: 0;
  font-size: 14px;
  line-height: 1.42857;
  color: #333;
  background-color: #fff;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100vh;
}

.tour-illustration {
  width: 60%;
  margin-right: 10px;
  text-align: center;
}

.step-cover {
  &.half-width {
    width: 60%;
  }

  &.full-width {
    box-shadow: 0 1px 60px rgba(0, 0, 0, 0.2);
    width: 100%;
  }
}

section {
  margin: 0 35px;
  max-width: 650px;
  text-align: center;
  color: #8E8E8E;
  letter-spacing: 0.5px;

  .title {
    text-align: center;
    margin: 35px auto;
    color: #666666;
    font-size: 36px;
    font-weight: 600;
  }

  .subtitle {
    font-size: 18px;
    font-weight: 500;
    margin: 30px auto;
  }

  p {
    font-size: 16px;
    line-height: 1.8;
    margin: 10px 0;
    text-align: left;
  }

}

.step-indicator {
  margin: 0;
  padding: 0;
  text-align: center;
  vertical-align: middle;
  position: absolute;
  bottom: 10px;
  left: 50%;
  margin-left: -44px;

  li {
    display: inline-block;
    margin: 6px;
    vertical-align: middle;
  }
}

.step-indicator-item {
  border-radius: 50%;
  width: 0;
  height: 0;
  border-width: 5px;
  border-color: #E9EDFB;
  border-style: solid;
  cursor: pointer;
}

.step-indicator-current {
  border-color: @primary-color;
}

.btn-google-sign-in {
  padding: 10px 25px;
  letter-spacing: .1em;
  background: #fff;
  border: none;
  width: 320px;
  border-radius: 4px;
  margin: 30px auto;
  color: #777;
  text-transform: none;
  text-shadow: none;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
  padding-left: 50px;
  background-image: url("../img/google-g.png");
  background-repeat: no-repeat;
  background-size: 18px;
  background-position: 8% 50%;
  cursor: pointer;
}

.tour-shortcut {
  color: #525252;
  background-color: white;
  padding: 0 10px;
  margin: 0 5px;
  border-radius: 3px;
  font-size: 14px;
  text-align: center;
  box-shadow: @box-shadow-base;
}

.line-divider {
  color: #cecece;
  margin: 25px auto;
  overflow: hidden;

  &:before, &:after {
    content: "";
    vertical-align: middle;
    display: inline-block;
    width: 50%;
    border-bottom: 2px dotted #cecece;
    margin: 0 2% 0 -55%;
  }

  &:after {
    margin: 0 -55% 0 2%;
  }
}

.tour-button {
  display: inline-flex;
  border-radius: 5px;
  padding: 8px 30px;
  background-color: #2b72dc;
  color: white;
  cursor: pointer;

  &:hover {
    background-color: #3c83ec;
  }
}

.default-shortcut-list {
  padding: 0;
  margin: 15px;
  box-shadow: @box-shadow-base;
  list-style: none;
  min-height: 445px;
  max-height: 445px;
  overflow-y: scroll;
  border-radius: 5px;
  position: relative;

  //&:after {
  //  content: "\21A1";
  //  padding: 10px;
  //  position: absolute;
  //  bottom: 0;
  //  left: 0;
  //  right: 0;
  //  background-image: linear-gradient(-180deg,hsla(0,0%,100%,.4),hsla(0,0%,100%,.8) 50%,#fff 100%,#fff 0);
  //}

  .default-shortcut-list-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-color: #f4f4f4;
    border-width: 0;
    border-bottom-width: 1px;
    border-style: solid;
    font-size: 14px;
    padding: 5px 15px;

    &:hover {
      background-color: #f8f8f8;
    }
  }

  .default-shortcut-favicon {
    width: 30px;
    height: 30px;
    margin: 3px 10px;
  }

  .default-shortcut-name {
    font-size: 16px;
    color: #515151;
  }

  .default-shortcut-url {
    padding: 0 5px;
    font-family: "Roboto", sans-serif !important;
    font-size: 12px;
    color: #bbbbbb;
    max-width: 200px;
    overflow: hidden;
    word-break: normal;
    text-align: left;
  }

  .default-shortcut-key {
    .tour-shortcut;
    padding: 3px 12px;
  }
}

.default-shortcut-linked-success {
  height: 100px;
  width: 75%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 10;
  text-align: center;
  color: #2b72dc;
  font-size: 20px;
  background: #ffffff;

  img {
    display: block;
    margin: 10px auto;
  }
}

.disable {
  pointer-events: none;
  opacity: 0.3;
}
