* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.as-injection-div {
    background: #ffffff;
    padding: 20px;
    margin: 0 auto;
    position: fixed;
    text-align: center;
    top: 10px;
    left: 0;
    right: 0;
    border: 3px solid #4F6EC8;
    width: fit-content;
    z-index: 99999;
}

.as-injection-p {
    font-size: 18px;
    color: #168D4D;
}

.as-injection-button {
    float: right;
    color: #4F6EC8;
    padding: 5px;
}

#as-injection-shortcut {
    font-weight: bold;
    color: #4F6EC8;
}