body {
    font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
    font-size: 100%;
    width: 400px;
    height: 400px;
    text-align: center;
}

a:visited, a:active {
    color: #0094E0;
}

ul {
    list-style: none outside;
}

li {
    text-align: left;
    margin: 2px;
}

#status {
    /* avoid an excessively wide status text */
    white-space: pre;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 800px;
}

#shortcut_key, #option-shortcut-key {
    border-color: rgb(61, 149, 92);
    width: 35px;
    text-align: center;
    font-weight: bold;
    font-size: medium;
    text-transform: uppercase;
}

#bind_shortcut_button {
    background-color: rgb(61, 149, 92);
    text-align: center;
    padding: 10px;
    color: white;
    align-self: center;
    border: none;
    border-radius: 3px;
    margin: 20px;
    width: 80%;
}

#unbind_shortcut_button {
    background-color: rgb(181, 61, 10);
    text-align: center;
    padding: 10px;
    color: white;
    align-self: center;
    border: none;
    border-radius: 3px;
    margin: 20px;
    width: 80%;
}

#popover {
    border: 2px #dd4814;
    background-color: #ffffff;
}