<script async src="https://www.googletagmanager.com/gtag/js?id=UA-103062552-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-103062552-1');
</script>
<footer>
    <div class="container">
        <div class="columns">
            <div class="column has-text-centered">
                <a href="/">
                    <img src="/static/img/logo.svg" alt="">
                </a>
            </div>

            <div class="column is-offset-one-quarter">
                <div class="footer-item-header">Product</div>
                <ul class="list-unstyled">
                    <li><a href="/account" class="footer-item">Account</a></li>
                    <li><a href="/pricing" class="footer-item">Pricing</a></li>
                    <li><a href="/faq" class="footer-item">FAQ</a></li>
                    <li><a href="https://github.com/anyshortcut" class="footer-item">Github</a></li>
                </ul>
            </div>
            <div class="column">
                <div class="footer-item-header">Connect</div>
                <ul class="list-unstyled">
                    <li>
                        <a href="/contact" class="footer-item">Contact us</a></li>
                    <li>
                        <a href="https://twitter.com/anyshortcut" class="footer-item"
                           target="_blank">Twitter</a>
                    </li>
                    <li>
                        <a href="https://telegram.me/anyshortcut" class="footer-item"
                           target="_blank">Telegram</a>
                    </li>
                    <li>
                        <a href="https://t.me/anyshortcut_group" class="footer-item"
                           target="_blank">Telegram Group</a>
                    </li>
                </ul>
            </div>
            <div class="column">
                <div class="footer-item-header">Legal</div>
                <ul class="list-unstyled">
                    <li><a href="/terms" class="footer-item">Terms of service</a></li>
                    <li><a href="/privacy" class="footer-item">Privacy policy</a></li>
                </ul>
            </div>
        </div>
        <p class="has-text-centered copyright has-text-grey">
            Copyright©2019 Anyshortcut.com. All rights reserved
        </p>
    </div>
</footer>