<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="keywords"
      content="anyshortcut, shortcut, keyboard shortcuts, customize shortcut, frequently websites, mouseless, boost productivity, save time">
<link rel="shortcut icon" href="/img/favicon.ico">
<title>{{ config.title }}</title>

<meta itemprop="name"
      content="Anyshortcut: Blaze fast way to launch your frequently visited websites">
<meta itemprop="description"
      content="Anyshortcut is a productive browser plugin to help you blaze fast way to launch your frequently visited websites.">
<meta itemprop="image" content="https://anyshortcut.com/img/banner.jpg">

<meta property="og:url" content="https://anyshortcut.com">
<meta property="og:type" content="website">
<meta property="og:title"
      content="Anyshortcut: Blaze fast way to launch your frequently visited websites">
<meta property="og:description"
      content="Anyshortcut is a productive browser plugin to help you blaze fast way to launch your frequently visited websites.">
<meta property="og:image" content="https://anyshortcut.com/img/banner.jpg">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@anyshortcut">
<meta name="twitter:creator" content="@anyshortcut">
<meta name="twitter:title"
      content="Anyshortcut: Blaze fast way to launch your frequently visited websites">
<meta name="twitter:description"
      content="Anyshortcut is a productive browser plugin to help you blaze fast way to launch your frequently visited websites.">
<meta name="twitter:image" content="https://anyshortcut.com/img/banner.jpg">
<link rel=chrome-webstore-item
      href=https://chrome.google.com/webstore/detail/ginilcdjefkbpeelgekodpmmabppcfao>