<div class="sign-in-form">
    <div class="heading">Sign in</div>
    <div class="text" style="width: 80%;margin: auto;">
        Sign in with Google to manage your shortcut, subscription etc
    </div>
    <div class="button btn-google-sign-in">
        Sign in with Google
    </div>
    <div style="font-size: 14px;opacity: 0.65;">
        <small>
            By signing in, I agree to
            <a target="_blank" href="/terms">Terms of Service</a>
            and <a target="_blank" href="/privacy">Privacy Policy</a>.
        </small>
    </div>
</div>