<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'common/head.html' %}
    <meta name="description"
          content="We'd love to hear from you!">
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
{% include 'common/nav-header.html' %}
<div class="container section has-text-centered">
    <p class="heading">Contact us</p>
    <p class="text">We'd love to hear from you!</p>
</div>
<div class="container has-text-centered">
    <div>
        <img src="/img/email.jpg" alt="" style="width: 400px">
    </div>
    <div class="section">
        <a class="section title" href="mailto:hello@anyshortcut.com">hello@anyshortcut.com</a>
    </div>
</div>
{% include 'common/footer.html' %}
</body>
</html>