<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'common/head.html' %}
    <meta name="description"
          content="Your access to and use of the Service is conditioned on your acceptance of and
            compliance with these Terms. These Terms apply to all visitors, users and others who
            access or use the Service.">
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
{% include 'common/nav-header.html' %}
<div class="container section has-text-centered">
    <p class="heading">Terms of Service</p>
    <p class="text">Last updated: December 16th, 2018</p>
</div>
<div class="section content">
    <div class="container">
        <p>Please read these Terms and Conditions ("Terms", "Terms and Conditions") carefully before
            using the Anyshortcut or
            <a href="https://anyshortcut.com">https://anyshortcut.com</a> website operated
            by <b>ANYSHORTCUT.COM</b> ("us","we", or "our").
        </p>
        <p>
            Your access to and use of the Service is conditioned on your acceptance of and
            compliance with these Terms. These Terms apply to all visitors, users and others who
            access or use the Service.
        </p>
        <p><b>
            By accessing or using the Service you agree to be bound by these Terms. If you disagree
            with any part of the terms then you may not access the Service.
        </b></p>
        <p>
            Violation of any of the terms below will result in the termination of your Account.
            While we prohibits such conduct and Content on the Service, you understand and agree
            that we cannot be responsible for the Content posted on the Service. You agree to use
            the Service at your own risk.
        </p>
        <h5>I. Account Terms</h5>
        <ol>
            <li>You must be 13 years or older to use this Service.</li>
            <li>
                You must be a human. Accounts registered by “bots” or other automated methods are
                not permitted.
            </li>
            <li>
                Your login may only be used by one person — a single login shared by multiple people
                is not permitted.
            </li>
            <li>
                You are responsible for maintaining the security of your Google account and
                password. We cannot and will not be liable for any loss or damage from your failure
                to comply with this security obligation.
            </li>
            <li>
                You are responsible for all Content posted and activity that occurs under your
                account.
            </li>
            <li>
                You may not use the Service for any illegal or unauthorized purpose. You must not,
                in the use of the Service, violate any laws in your jurisdiction (including but not
                limited to copyright or trademark laws).
            </li>
        </ol>
        <h5>II. Payment, Refunds Terms</h5>
        <ol>
            <li>
                All paid plans must enter a valid credit card. Credit card are not required when you
                are in free trial.
            </li>
            <li>
                All fees are exclusive of all taxes, levies, or duties imposed by taxing
                authorities, and you shall be responsible for payment of all such taxes, levies, or
                duties, excluding only United States (federal or state) taxes.
            </li>
            <li>
                You can get the refund in 7 days for any reason when you subscribe, just send us
                an email at <a href="mailto:bills@anyshortcut.com">bills@anyshortcut.com</a>.
                We'll deal it in one work day.
            </li>
            <li>
                The renewal subscription is un-refundable, please cancel your subscription
                in advance if you don't want to renew.
            </li>
        </ol>
        <h5>Personal Information</h5>
        <p>
            Your submission of personal information is governed by our
            <a href="/privacy">Privacy Policy</a>.
        </p>
        <h5>Prohibited Uses</h5>
        <p>
            You are prohibited from using the product or the website:
        </p>
        <ul>
            <li>for any unlawful purpose;</li>
            <li>to solicit others to perform or participate in any unlawful acts;</li>
            <li>to violate any international, federal, provincial or state regulations, rules, laws,
                or local ordinances;
            </li>
            <li>to infringe upon or violate our intellectual property rights or the
                intellectual property rights of others;
            </li>
            <li>to harass, abuse, insult, harm, defame,
                slander, disparage, intimidate, or discriminate based on gender, sexual orientation,
                religion, ethnicity, race, age, national origin, or disability;
            </li>
            <li>to submit false or misleading information;</li>
            <li>to upload or transmit viruses or any other type of malicious
                code that will or may be used in any way that will affect the functionality or
                operation of the Service or of any related website, other websites, or the Internet;
            </li>
            <li> to collect or track the personal information of others;
            </li>
            <li> to spam, phish, pharm, pretext, spider, crawl, or scrape;
            </li>
            <li>for any obscene or immoral purpose;</li>
            <li>to interfere with or circumvent the security features of the Service or any related
                website, other websites, or the Internet.
                We reserve the right to terminate your use of the Service or
                any related website for violating any of the prohibited uses.
        </ul>
        <h4>Disclaimer Of Warranties</h4>
        <p>
            To the maximum extent permitted by applicable law, we expressly disclaims any and
            all warranties and conditions, express or implied, regarding the site, services and
            software, including, but not limited to, any implied warranties or conditions of
            merchantability, merchantable quality, fitness for a particular purpose or
            noninfringement. You agree that your use of the site, services and software are at your
            own sole risk and that the site, services and any software are provided on an “as is”
            and “with all faults” basis, without warranties of any kind, either express or implied.
            Without limiting the foregoing, we does not warrant that the operation of the
            site, services and/or software will meet your requirements or will be uninterrupted or
            error-free.
        </p>
        <h4>Limitation Of Liability</h4>
        <p>
            In no event shall we be liable with respect to the site, services and/ or
            software for
        </p>
        <ol>
            <li>
                any amount in the aggregate in excess of the fees you have actually
                paid to we during the twelve (12) month period immediately preceding the event(s)
                giving rise to such liability;
            </li>
            <li>
                any lost profits, lost or damaged user content or other data, or failure to meet
                any duty, including without limitation good faith and reasonable care;
            </li>
            <li>
                any indirect, incidental, punitive, special, exemplary or
                consequential damages of any kind whatsoever.
            </li>
        </ol>
        <h4>Severability</h4>
        <p>
            In the event that any provision of these Terms of Service is determined to be unlawful,
            void or unenforceable, such provision shall nonetheless be enforceable to the fullest
            extent permitted by applicable law, and the unenforceable portion shall be deemed to be
            severed from these Terms of Service, such determination shall not affect the validity
            and enforceability of any other remaining provisions.
        </p>
        <h4>Termination</h4>
        <p>
            We may terminate or suspend your account and bar access to the Service immediately,
            without prior notice or liability, under our sole discretion, for any reason whatsoever
            and without limitation, including but not limited to a breach of the Terms.
        </p>
        <p>
            All provisions of the Terms which by their nature should survive termination shall
            survive termination, including, without limitation, ownership provisions, warranty
            disclaimers, indemnity and limitations of liability.
        </p>
        <h4>Changes</h4>
        <p>
            We reserves the right to update and change the Terms of Service from time to
            time without notice. Any new features that augment or enhance the current Service,
            including the release of new tools and resources, shall be subject to the Terms of
            Service. Continued use of the Service after any such changes shall constitute your
            consent to such changes.
        </p>
        <p>
            By continuing to access or use our Service after any revisions become effective, you
            agree to be bound by the revised terms. If you do not agree to the new terms, you are no
            longer authorized to use the Service.
        </p>
        <h4>Contact us</h4>
        <p>
            If You have any questions about this Terms, please contact us at
            <a href="mailto:legal@anyshortcut.com">legal@anyshortcut.com</a>.
        </p>
    </div>
</div>
{% include 'common/footer.html' %}
</body>
</html>