@import "var.scss";
@import url("https://fonts.googleapis.com/css?family=Poppins:400,500i,600i|Roboto");

.brand {
  color: $primary-color;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-weight: 600;
  text-decoration: none;
  outline: none;
  letter-spacing: .03em;

  .brand-logo {
    vertical-align: middle;
    margin: 6px 10px;
    height: 20px;
  }
}

.shortcut {
  box-sizing: border-box;
  color: $primary-color;
  background-color: white;
  padding: 3px 10px;
  margin: 0 5px;
  border-radius: 3px;
  font-size: 14px;
  text-align: center;
  box-shadow: $box-shadow-base;
  white-space: nowrap;
}

.title {
  font-size: 28px;
  line-height: 42px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  color: #546496;
  letter-spacing: 0;
}

.subtitle {
  font-size: 20px;
  line-height: 30px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  color: #44485B;
  letter-spacing: 0;
}

.text {
  font-size: 17px;
  line-height: 26px;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  color: #6D7D93;
  letter-spacing: 0;
}

.subtext {
  font-size: 15px;
  line-height: 26px;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  color: #6D7D93;
  letter-spacing: 0;
}