$primary-color: #517CE8;
$secondary-color: #2b72dc;
$header-bgcolor: #FAFBFC;
$content-bgcolor: #FFFFFF;
$content-font-color: #131916;

$menu-color: #6E6E6E;

$color-success: #13ce66;
$color-warning: #f7ba2a;
$color-danger: #ff4949;
$color-info: #50bfff;

$normal-width: 560px;
$normal-height: 420px;

$box-shadow-base: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04);
$box-shadow-dark: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .12);

$message-success-color: $color-success;
$message-info-color: $color-info;
$message-warning-color: $color-warning;
$message-danger-color: $color-danger;

@mixin header {
  background: $header-bgcolor;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  border-bottom: #eeeeee solid 1.3px;
  z-index: 1;
}

.primary-text {
  font-size: 17px;
  color: $primary-color;
}

.primary-title {
  @extend .primary-text;
  line-height: 50px;
}

.primary-subtitle {
  color: $secondary-color;
  font-size: 16px;
}

.delete-button {
  vertical-align: middle;
  cursor: pointer;

  &:hover {
    content: url("../img/delete-red.svg");
  }
}

@mixin button {
  cursor: pointer;
  padding: 5px 25px;
  height: 28px;
  border-radius: 3px;
  font-size: 14px;
  box-shadow: $box-shadow-base;
  text-align: center;
}

@mixin positive-gradient {
  color: #FFFFFF;
  background: linear-gradient($secondary-color, $primary-color);

  &:hover {
    background: linear-gradient($primary-color, #3A56A8);
  }
}

@mixin negative-gradient {
  background: linear-gradient(#d85b52, #aa3030);
  color: #FFFFFF;

  &:hover {
    background: linear-gradient(#aa3030, #902626);
  }
}

.shortcut-delete-button {
  @include button;
  @include negative-gradient;
  padding: 2px 30px;
}

.shortcut-bind-button {
  @include button;
  @include positive-gradient;
  padding: 2px 30px;
}