$modal-z-index: 999999999;
$primary-color: #517CE8;
$secondary-color: #2b72dc;
$box-shadow-base: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04);
$box-shadow-dark: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .12);

@import url("https://fonts.googleapis.com/css?family=Poppins:400,500i,600i|Roboto");

.anyshortcut-modal {
  box-sizing: border-box !important;
  display: flex !important;
  justify-content: center !important;
  align-items: start !important;
  position: fixed !important;
  margin: 0 auto !important;
  right: 0 !important;
  top: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
  z-index: ($modal-z-index - 1) !important;

  ul {
    list-style: none outside !important;
    margin: auto !important;
    padding: 0 !important;
  }
}

.anyshortcut-modal-container {
  width: 480px !important;
  font-family: "Poppins", sans-serif !important;
  display: flex !important;
  flex-direction: column !important;
  color: #515151 !important;
  margin-top: 80px !important;
  background: white !important;
  border-radius: 5px !important;
  z-index: $modal-z-index !important;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, .12), 0 4px 6px rgba(0, 0, 0, .12) !important;
}

.anyshortcut-modal-header {
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-between !important;
  align-items: center !important;
  padding: 5px !important;
  border-radius: 5px 5px 0 0 !important;
}

.anyshortcut-brand {
  color: $primary-color;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-weight: 600;
  text-decoration: none;
  outline: none;
  letter-spacing: .03em;

  .anyshortcut-brand-logo {
    vertical-align: middle;
    margin: 6px 10px;
    height: 20px;
  }
}

.anyshortcut-grey-balloons {
  margin-top: 20px;
  margin-bottom: 10px;
}

.anyshortcut-modal-close {
  color: #CECECE;
  padding: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

.anyshortcut-modal-content {
  padding: 10px 20px 20px !important;
  font-size: 18px !important;
  text-align: center !important;
}

.anyshortcut-favicon {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin: 0 5px !important;
}

.anyshortcut-shortcut {
  box-sizing: border-box;
  color: $primary-color;
  background-color: white;
  padding: 0 10px;
  margin: 0 5px;
  border-radius: 3px;
  text-align: center;
  box-shadow: $box-shadow-base;
  white-space: nowrap;
  font-size: 15px !important;
}

.anyshortcut-secondary-shortcut {
  @extend .anyshortcut-shortcut;
  margin-right: 15px !important;
  width: 32px !important;
  letter-spacing: 0.6px !important;
}

.anyshortcut-shortcut-list {
  padding: 5px 40px !important;
}

.anyshortcut-shortcut-item {
  display: flex !important;
  align-items: center !important;
  border-color: #f4f4f4 !important;
  border-width: 0 !important;
  border-bottom-width: 1px !important;
  border-style: solid !important;
  font-size: 14px !important;
  padding: 8px 10px !important;

  &:hover {
    background: #f8f8f8 !important;
  }

  &:last-child {
    border-width: 0 !important;
  }

  a {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: flex !important;
    align-items: center !important;

    position: relative !important;
    text-align: left !important;
    width: 100% !important;
    margin: 0 !important;
    text-decoration: none !important;
    outline: none !important;
    color: $secondary-color !important;

    &:focus, &:active, &:visited, &:hover {
      color: $secondary-color !important;
    }
  }
}

.anyshortcut-text-description {
  color: #8E8E8E !important;
  font-size: 14px !important;

  ul li {
    margin: 5px 0 !important;
  }
}

.anyshortcut-small-description {
  color: #8E8E8E !important;
  margin: auto !important;
  font-size: 12px !important;
}

.anyshortcut-subscribe-button {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  text-decoration: none !important;
  background-color: #DD4814 !important;
  color: white !important;
  border-radius: 4px !important;
  padding: 5px 25px !important;

  &:hover {
    opacity: 0.8 !important;
  }
}

.anyshortcut-circle {
  position: fixed;
  left: 15px !important;
  bottom: 15px !important;
  width: 40px !important;
  height: 40px !important;
  background-color: $primary-color !important;
  box-shadow: $box-shadow-dark !important;
  border-radius: 50% 50% !important;
  cursor: pointer !important;
  z-index: ($modal-z-index - 1) !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  opacity: 0.3 !important;

  .anyshortcut-circle-icon {
    width: 30px !important;
    height: 30px !important;
  }
  .anyshortcut-circle-close {
    width: 20px !important;
    height: 20px !important;
  }

  &:hover {
    opacity: 1 !important;
  }
}

.anyshortcut-circle-hidden {
  display: none !important;
}

.anyshortcut-popup {
  box-sizing: border-box !important;
  position: fixed !important;
  left: 15px !important;
  bottom: 65px !important;
  width: 350px !important;
  display: flex !important;
  flex-direction: column !important;
  font-family: "Poppins", sans-serif !important;
  padding: 10px !important;
  background-color: #FFFFFF !important;
  box-shadow: $box-shadow-dark !important;
  border-radius: 5px !important;
  text-align: center !important;
  z-index: ($modal-z-index - 1) !important;

  ul {
    list-style: none outside !important;
    margin: 0 !important;
    padding: 0 !important;
  }
}

.anyshortcut-comment {
  font-size: 15px !important;
  color: #515151 !important;
}

.anyshortcut-url {
  padding: 5px !important;
  font-family: "Roboto", sans-serif !important;
  font-size: 12px !important;
  color: #bbbbbb !important;
}

.anyshortcut-sign-in-link {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.5px;
  margin-bottom: 10px;
  //text-decoration: none !important;
  color: $primary-color !important;

  &:hover {
    opacity: 0.8 !important;
  }
}